* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	display:flex;
	color:white;
	font-weight: bold;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
/* .debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
} */

/* --------------------- */

.lr{
	padding: 18px 26px;
}


.nav-items{
	display:flex;
}

.nav-item{
	padding:0 10px;
}

.nav-item:nth-child(1),
.nav-item:nth-child(2){
	color:rgba(255, 255, 255, 0.596);
	position:relative;
}

.nav-item:nth-child(2)::after{
	content:"°";
	position:absolute;
	top:0;
	color:red;
	transform: translate(0,-50%);
}

.sidedown{
	color:white;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:flex-end;
	min-width:100px;
	min-height: 450px;
	font-family: 'TikTok Sans', sans-serif;
}

.side-item{
	margin:12px 0;
}

.side-item>span{
	text-align:center;
	display:block;
	width:35px;
	font-size:18px;
	height: 35px;
}

.bi{
	font-size: 28px;
}

.foot{
	width:350px;
	max-width: 100%;
	font-family: 'TikTok Sans', sans-serif;
}

.foot>span{
	display:block;
	padding:5px 8px;
}

.extrafoot{
	min-width:100%;
	display:flex;
	background-color:black;
	height:70px;
	color:white;
	align-items: center;
	justify-content:space-evenly;
}

.exfoo>span{
	display:block;
	text-align:center;
}

.exfoo{
	font-size:8px;
}

